.toolbar {
  background-color: #fff;
  border-bottom: none;
  padding: 0;
}

.toolbar ul {
  padding-left: 0;
  padding-right: 0;
}

.toolbar ul li {
  margin-left: 0;
}

.toolbar ul li a.grouped-left,
.toolbar ul li a.grouped-right,
.toolbar ul li a {
  display: block;
  border: none;
  background: none;
  padding: .75em;
  border-radius: 0;
  color: #666;
}

.toolbar ul li a:hover {
  background: #666;
  color:#fafafa;
}

.toolbar ul li a:hover .buttonicon {
  color: #fff;
}
